<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Agenda tu Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioViaje">

        <ion-item>
          <ion-label position="floating" required>Fecha Viaje:</ion-label>
          <ion-input formControlName="f_viaje" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Hora Salida:</ion-label>
          <ion-input formControlName="hora_salida" id="horasalida"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Salida:</ion-label>
          <select name="sede" id="sede">
            <option value="pnorte">Sede Plaza Norte</option>
            <option value="alameda">Sede Alameda</option>
            <option value="valle">Sede Pedro Alonso de Valle</option>
            <option value="varas">Sede Antonio Varas</option>
            <option value="ed">Sede Educación Continua</option>
            <option value="maipu">Sede Maipú</option>
            <option value="milipilla">Sede Milipilla</option>
            <option value="poeste">Sede Plaza Oeste</option>
            <option value="pvespucio">Sede Plaza Vespucio</option>
            <option value="palto">Sede Puente Alto</option>
            <option value="bernardo">Sede San Bernardo</option>
            <option value="carlos">Sede San Carlos de Apoquindo</option>
            <option value="joaquin">Sede San Joaquin</option>
          </select>
          <ion-input formControlName="salida" id="salida"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Destino:</ion-label>
          <select name="comuna" id="comuna">
            <option value="cerrillos">Cerrillos</option>
            <option value="cerro">Cerro Navia</option>
            <option value="conchali">Conchalí</option>
            <option value="bosque">El Bosque</option>
            <option value="central">Estación Central</option>
            <option value="huechuraba">Huechuraba</option>
            <option value="indepe">Independencia</option>
            <option value="cisterna">La Cisterna</option>
            <option value="florida">La Florida</option>
            <option value="granja">La Granja</option>
            <option value="pintana">La Pintana</option>
            <option value="reina">La Reina</option>
            <option value="condes">Las Condes</option>
            <option value="barnechea">Lo Barnechea</option>
            <option value="espejo">Lo Espejo</option>
            <option value="prado">Lo Prado</option>
            <option value="macul">Macúl</option>
            <option value="maipu">Maipú</option>
            <option value="nunoa">Ñuñoa</option>
            <option value="pedro">Pedro Aguirre Cerda</option>
            <option value="pena">Peñalolén</option>
            <option value="providencia">Providencia</option>
            <option value="puda">Pudahuel</option>
            <option value="quili">Quilicura</option>
            <option value="colina">Colina</option>
          </select>
          <ion-input formControlName="destino" id="destino"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Cantidad Asientos:</ion-label>
          <ion-input formControlName="cant_asientos" id="cantasientos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Total:</ion-label>
          <ion-input formControlName="total" id="total"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Valor Asiento:</ion-label>
          <ion-input formControlName="valor_asiento" id="valorasiento"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Estado:</ion-label>
          <ion-input formControlName="estado" id="estado"></ion-input>
        </ion-item>
        <ion-button type="submit">Tomar Viaje</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipal']">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/comenzarviaje']">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilusuario']">
          <ion-icon name="walk" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/tomarviaje']">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>

