<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <h2 style="margin: 10px;">Listado de viajes</h2>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let x of arregloViajes">
      <ion-card>
        <ion-card-content>
          <ion-item>
    
            <ion-label>
              <strong>{{ x.destino | uppercase }}</strong>

              <br>
    
              <p style="word-wrap: break-word;white-space: normal;">Salida: {{ x.salida }}</p>
              <p style="word-wrap: break-word;white-space: normal;">Hora Salida: {{ x.hora_salida }}</p>
              <p style="word-wrap: break-word;white-space: normal;">Fecha Salida: {{ x.f_viaje }}</p>
              <p style="word-wrap: break-word;white-space: normal;">Asientos: {{ x.cant_asientos }}</p>
              <p style="word-wrap: break-word;white-space: normal;">Estado: {{ x.estado }}</p>
              <p style="word-wrap: break-word;white-space: normal;">Valor asiento: {{ x.valor_asiento }}</p>

              <br>

              <ion-button (click)="aceptarViaje(x.id_usuario, x.id_viaje)">Aceptar Viaje</ion-button>

            </ion-label>

          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipal']" style="margin-right: 20px;">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/comenzarviaje']" style="margin-right: 20px;">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilusuario']" style="margin-right: 20px;">
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/tomarviaje']" style="margin-right: 20px;">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']" style="margin-right: 10px;">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>

