<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-title>
      <ion-item color="primary">
        <ion-label>Viaje</ion-label>
      </ion-item>
    </ion-card-title>

    <form [formGroup]="formularioRuta" (ngSubmit)="crearRuta()">

      <ion-item>
        <ion-label>Fecha Viaje:</ion-label>
        <ion-input formControlName="f_viaje" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Hora Salida:</ion-label>
        <ion-input formControlName="hora_salida" type="time" id="horasalida"></ion-input>
      </ion-item>

      <ion-item>

        <ion-label>Salida:</ion-label>

        <select name="salida" id="salida" formControlName="salida">
          <option value="plazanorte">Sede Plaza Norte</option>
          <option value="alameda">Sede Alameda</option>
          <option value="pedoralonsodelvalle">Sede Pedro Alonso de Valle</option>
          <option value="antoniovaras">Sede Antonio Varas</option>
          <option value="ed">Sede Educación Continua</option>
          <option value="maipu">Sede Maipú</option>
          <option value="melipilla">Sede Melipilla</option>
          <option value="plazaoeste">Sede Plaza Oeste</option>
          <option value="plazavespucio">Sede Plaza Vespucio</option>
          <option value="puentealto">Sede Puente Alto</option>
          <option value="sanbernardo">Sede San Bernardo</option>
          <option value="sancarlosdeapoquindo">Sede San Carlos de Apoquindo</option>
          <option value="sanjoaquin">Sede San Joaquin</option>
        </select>

      </ion-item>

      <ion-item>
        <ion-label>Destino:</ion-label>
        <select name="destino" id="destino" formControlName="destino">
          <option value="cerrillos">Cerrillos</option>
          <option value="cerronavia">Cerro Navia</option>
          <option value="conchali">Conchalí</option>
          <option value="elbosque">El Bosque</option>
          <option value="estacioncentral">Estación Central</option>
          <option value="huechuraba">Huechuraba</option>
          <option value="independencia">Independencia</option>
          <option value="lacisterna">La Cisterna</option>
          <option value="laflorida">La Florida</option>
          <option value="lagranja">La Granja</option>
          <option value="lapintana">La Pintana</option>
          <option value="lareina">La Reina</option>
          <option value="lascondes">Las Condes</option>
          <option value="lobarnechea">Lo Barnechea</option>
          <option value="loespejo">Lo Espejo</option>
          <option value="loprado">Lo Prado</option>
          <option value="macul">Macúl</option>
          <option value="maipu">Maipú</option>
          <option value="nunoa">Ñuñoa</option>
          <option value="pedroaguirrecerda">Pedro Aguirre Cerda</option>
          <option value="penalolen">Peñalolén</option>
          <option value="providencia">Providencia</option>
          <option value="pudahuel">Pudahuel</option>
          <option value="quilicura">Quilicura</option>
          <option value="colina">Colina</option>
        </select>
      </ion-item>

      <ion-item>
        <ion-label>Cantidad Asientos:</ion-label>

        <select name="cant_asientos" id="cant_asientos" formControlName="cant_asientos">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </ion-item>

      <ion-item>
        <ion-label position="floating" required>Valor Asientos:</ion-label>
        <select name="valor_asiento" id="valor_asiento" formControlName="valor_asiento">
          <option value="2500">Standard: $2.500</option>
          <option value="5000">Large: $5.000</option>
          <option value="7500">Deluxe: $7.500</option>
        </select>
      </ion-item>

      <ion-button color="primary" style="margin-right: 70px;" type="submit">Aceptar</ion-button>
      <ion-button color="primary" [routerLink]="['/menuprincipal']">Volver al menú principal</ion-button>
    </form>
  
  </ion-card>
</ion-content>

<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipal']" style="margin-right: 20px;">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/comenzarviaje']" style="margin-right: 20px;">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilusuario']" style="margin-right: 20px;">
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/tomarviaje']" style="margin-right: 20px;">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']" style="margin-right: 10px;">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>

