<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-title>Historial Conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center" color="primary">Historial de Viajes Aceptados</h2>
  <ion-list>
    <ion-item *ngFor="let x of arregloTodo">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label>
              <strong>Pasajero: {{ x.nombre }}</strong>

              <br>

              <p>Fecha del Viaje: {{ x.f_viaje }}</p>
              <p>Hora de Salida: {{ x.hora }}</p>
              <p>Salida: {{ x.salida }}</p>
              <p>Destino: {{ x.destino }}</p>
              <p>Asientos Ocupados: {{ x.asientos }}</p>
              <p>Valor Asiento: {{ x.valor }}</p>
              <p>Estado: {{ x.estado }}</p>

              <br>

              <h4>Vehiculo:</h4>

              <p>Marca: {{ x.marca }}</p>
              <p>Modelo: {{ x.modelo }}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipalconductor']" style="margin-right: 20px;">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/rutaconductor']" style="margin-right: 20px;">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilconductor']" style="margin-right: 20px;">
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/registrarvehiculo']" style="margin-right: 20px;">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']" style="margin-right: 10px;">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>