<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Conductor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item [routerLink]="['/menuprincipalconductor']"><ion-icon name="home" color="primary"></ion-icon>Inicio</ion-item>
    <ion-item [routerLink]="['/rutaconductor']"><ion-icon name="location" color="primary"></ion-icon>Elegir ruta</ion-item>
    <ion-item [routerLink]="['/mapaclientes']"><ion-icon name="walk" color="primary"></ion-icon>Clientes cercanos</ion-item>
    <ion-item [routerLink]="['/perfilconductor']"><ion-icon name="person" color="primary"></ion-icon>Perfil</ion-item>
    <ion-item [routerLink]="['/sesionconductor']"><ion-icon name="exit" color="primary"></ion-icon>Cerrar sesion</ion-item>
  </ion-content>
</ion-menu>

<ion-content style="border: solid 1.5px #469597;">

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title style="text-align: center;">Menu Clientes</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  <br> <br> <br>

  <ion-card style="align-items: center;">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=13g42MiMLzEXheaWUNPXuoGc3VjvR9TI&ehbc=2E312F&noprof=1" width="440" height="340"></iframe>

    <ion-button [routerLink]="['/rutaconductor']">Ir a crear una ruta</ion-button>
  </ion-card>
</ion-content>