<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Conductor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item [routerLink]="['/menuprincipalconductor']"><ion-icon name="home" color="primary"></ion-icon>Inicio</ion-item>
    <ion-item [routerLink]="['/rutaconductor']"><ion-icon name="location" color="primary"></ion-icon>Elegir ruta</ion-item>
    <ion-item [routerLink]="['/tomarviaje']"><ion-icon name="walk" color="primary"></ion-icon>Clientes cercanos</ion-item>
    <ion-item [routerLink]="['/mapaconductores']"><ion-icon name="car" color="primary"></ion-icon>Conductores cercanos</ion-item>
    <ion-item [routerLink]="['/sesionconductor']"><ion-icon name="exit" color="primary"></ion-icon>Cerrar sesion</ion-item>
  </ion-content>
</ion-menu>

<ion-content style="border: solid 1.5px #469597;">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title style="text-align: center;">Perfil Conductor</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  <br> <br>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center">
      <ion-card-title>

        <ion-item color="primary">
          <ion-label>Datos personales</ion-label>
        </ion-item>

      </ion-card-title>

      <ion-card-content>

        <ion-item>  
          <ion-label>Nombre: {{ variableStorage }}</ion-label>
          <ion-input type="text" readonly>Bastian</ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Apellido:</ion-label>
          <ion-input type="text" readonly>Muñoz</ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Rut:</ion-label>
          <ion-input type="text" readonly>21.673.890-0</ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Edad:</ion-label>
          <ion-input type="text" readonly>20</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input type="text" readonly>ba.munozf@duocuc.cl</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Celular:</ion-label>
          <ion-input type="text" readonly>959432601</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de Vehículo:</ion-label>
          <ion-input type="text" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Modelo del Vehículo:</ion-label>
          <ion-input type="text" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Año del Vehículo:</ion-label>
          <ion-input type="text" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Petente:</ion-label>
          <ion-input type="text" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Licencia de conducir:</ion-label>
          <ion-input type="text" readonly></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-button color="primary" [routerLink]="['/menuprincipalconductor']">Menu Conductor</ion-button>
      <ion-button color="primary" [routerLink]="['/sesionconductor']">Cerrar Sesión</ion-button>

    </ion-card>

  </div>

</ion-content>
  