<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="text-align: center;">
    <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title style="text-align: center;">Iniciar Sesión <br> {{ correo | uppercase }}</ion-card-title>
    </ion-card-header>
    <img src ="../../../assets/icon/Viago (2).png" style="margin-left: 6px;" alt="">
    
    <ion-card-content>
      <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="contrasena" [(ngModel)]="contrasena" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; ">
       <ion-button> <a href="/paginarecuperar-usuario" style="color: white;">Recuperar Usuario</a></ion-button> 
        <ion-button type="submit">Ingresar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/paginaregistrar-usuario']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>