<ion-header [translucent]="true">
  <ion-toolbar color="primary" slot="">
    <ion-title>Bienvenido! </ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title style="margin-left: 25%;">Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button style="margin-left: 4%;">Ingresar</ion-button>
      <ion-button slot="end" style="margin-left: 28%;" [routerLink]="['/paginaregistrar-usuario']">Registrarse</ion-button>
            
    </ion-card-content>
  </ion-card>
</ion-content>


<!--
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/paginaregistrar-usuario']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

-->
  


<!-- 
<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h2>Inicio de Sesión</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="user1" maxlength="25"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password1" maxlength="30"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-button (click)="inicioSesion()">Iniciar Sesión {{ user1 }}</ion-button>
      <ion-button (click)="registrarUsuario()">Registrarse</ion-button>
      <br>
      <ion-button (click)="recuperarUsuario()">Recuperar Contraseña</ion-button>
    </ion-card>
  </div>
</ion-content>
-->