<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item [routerLink]="['/menuprincipal']"><ion-icon name="home" color="primary"></ion-icon>Inicio</ion-item>
    <ion-item [routerLink]="['/vistaperfil']"><ion-icon name="person" color="primary"></ion-icon>Cuenta</ion-item>
    <ion-item [routerLink]="['/miubicacion']"><ion-icon name="location" color="primary"></ion-icon>Donde estoy?</ion-item>
    <ion-item [routerLink]="['/tomarviaje']"><ion-icon name="walk" color="primary"></ion-icon>Tomar un viaje</ion-item>
    <ion-item [routerLink]="['/paginalogin-usuario']"><ion-icon name="exit" color="primary"></ion-icon>Cerrar sesion</ion-item>
  </ion-content>
</ion-menu>

<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title style="text-align: center;">Comenzar viaje</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-card style="margin-top: 20%;">
    <ion-card-header>
      <ion-card-title color="primary">Seleccione una ubicación</ion-card-title>
    </ion-card-header>
    <ion-searchbar placeholder="Su ubicación"></ion-searchbar>
    <br>
    <ion-searchbar placeholder="Seleccione su Destino"></ion-searchbar>
    <div style="display: flex; flex-direction: row; align-items: right; justify-content: right;">
      <ion-button fill="clear" [routerLink]="['/tomarviaje']">Buscar viajes</ion-button>
    </div>
  </ion-card>

</ion-content>
