<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/paginalogin-usuario"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Ingrese Datos:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioRecuperar" (ngSubmit)="recuperarContrasena()">

        <ion-item>
          <ion-label position="floating">Correo Registrado:</ion-label>
          <ion-input type="text" formControlName="correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Rut Asociado a la Cuenta:</ion-label>
          <ion-input type="text" formControlName="rut"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva Contraseña:</ion-label>
          <ion-input type="password" formControlName="contrasena"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Nueva Contraseña:</ion-label>
          <ion-input type="password" formControlName="confcontrasena"></ion-input>
        </ion-item>

        <ion-button position="relative" type="submit">Confirmar</ion-button>

      </form>
    </ion-card-content>

  </ion-card>
</ion-content>
