<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item [routerLink]="['/menuprincipal']"><ion-icon name="home"></ion-icon>inicio</ion-item>
    <ion-item [routerLink]="['/miubicacion']"><ion-icon name="location"></ion-icon>Donde estoy?</ion-item>
    <ion-item [routerLink]="['/tomarviaje']"><ion-icon name="walk"></ion-icon>Tomar un viaje</ion-item>
    <ion-item [routerLink]="['/comenzarviaje']"><ion-icon name="car-sport"></ion-icon>Comenzar viaje</ion-item>
    <ion-item [routerLink]="['/paginalogin-usuario']"><ion-icon name="exit"></ion-icon>Cerrar sesion</ion-item>
  </ion-content>
</ion-menu>

<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary" style="text-align: center;">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Cuenta</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding"> 
      <ion-card id="container">
        <ion-card-header color="primary" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <ion-card-title>Usuario</ion-card-title>
          <ion-icon name="person-circle" size="large" style="margin-left: 88%;"></ion-icon>
        </ion-card-header>
        <ion-item>
          <ion-label> </ion-label>
        </ion-item> 
        <ion-item id="letra">
          <ion-label>25</ion-label>
        </ion-item>
        <ion-item id="letra">
          <ion-label>josegon25@gmail.com</ion-label>
        </ion-item>
        <ion-item id="letra">
          <ion-label>Cliente</ion-label> 
        </ion-item>
      </ion-card>
    </ion-content>
  </div>
</ion-content>

<!-- 
<ion-item>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d53407.240721785754!2d-70.67873335!3d-33.215340299999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1693020959310!5m2!1ses!2scl" width="600" height="450" style="grid-auto-flow: column;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-item>
-->

   