<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="text-align: center;">
    <ion-title>Inicio Admin</ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content class="ion-padding">
      <div>
      <ion-card class="ion-text-center">
        <ion-card-title>
          <ion-item color="primary">
            <ion-label>Información</ion-label>
          </ion-item>
        </ion-card-title>

        <ion-item>  
          <ion-label>Viajes: {{ variableStorage }}</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Ganancias total Día: </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Ganacia total Mes: </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-button color="primary" [routerLink]="['/perfilconductor']" style="margin-right: 35px;">Conductores</ion-button>
        <ion-button color="primary" [routerLink]="['/perfilusuario']">Clientes</ion-button>
      </ion-card>

  </div>

</ion-content>

