<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">ViaGo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-title>
      <ion-item color="primary">
        <ion-label style="text-align: center; font-weight: 800;">Crear Viaje</ion-label>
      </ion-item>
    </ion-card-title>

    <ion-card-content>

    <form [formGroup]="formularioRuta" (ngSubmit)="crearRuta()">

      <ion-item>
        <ion-label position="floating">Fecha Viaje:</ion-label>
        <ion-input formControlName="f_viaje" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora Salida:</ion-label>
        <ion-input formControlName="hora_salida" type="time" id="horasalida"></ion-input>
      </ion-item>

      <ion-item>

        <ion-label>Salida:</ion-label>

        <select name="salida" id="salida" formControlName="salida">
          <option value="SedePlazaNorte">Sede Plaza Norte</option>
          <option value="SedeAlameda">Sede Alameda</option>
          <option value="SedePedroAlonsoDelValle">Sede Pedro Alonso de Valle</option>
          <option value="SedeAntonioVaras">Sede Antonio Varas</option>
          <option value="SedeEducacionContinua">Sede Educación Continua</option>
          <option value="SedeMaipu">Sede Maipú</option>
          <option value="SedeMelipilla">Sede Melipilla</option>
          <option value="SedePlazaOeste">Sede Plaza Oeste</option>
          <option value="SedePlazaVespucio">Sede Plaza Vespucio</option>
          <option value="SedePuenteAlto">Sede Puente Alto</option>
          <option value="SedeSanBernardo">Sede San Bernardo</option>
          <option value="SedeSanCarlosDeApoquindo">Sede San Carlos de Apoquindo</option>
          <option value="SedeSanJoaquin">Sede San Joaquin</option>
        </select>

      </ion-item>

      <ion-item>
        <ion-label>Destino:</ion-label>
        <select name="destino" id="destino" formControlName="destino">
          <option value="cerrillos">Cerrillos</option>
          <option value="cerronavia">Cerro Navia</option>
          <option value="conchali">Conchalí</option>
          <option value="elbosque">El Bosque</option>
          <option value="estacioncentral">Estación Central</option>
          <option value="huechuraba">Huechuraba</option>
          <option value="independencia">Independencia</option>
          <option value="lacisterna">La Cisterna</option>
          <option value="laflorida">La Florida</option>
          <option value="lagranja">La Granja</option>
          <option value="lapintana">La Pintana</option>
          <option value="lareina">La Reina</option>
          <option value="lascondes">Las Condes</option>
          <option value="lobarnechea">Lo Barnechea</option>
          <option value="loespejo">Lo Espejo</option>
          <option value="loprado">Lo Prado</option>
          <option value="macul">Macúl</option>
          <option value="maipu">Maipú</option>
          <option value="nunoa">Ñuñoa</option>
          <option value="pedroaguirrecerda">Pedro Aguirre Cerda</option>
          <option value="penalolen">Peñalolén</option>
          <option value="providencia">Providencia</option>
          <option value="pudahuel">Pudahuel</option>
          <option value="quilicura">Quilicura</option>
          <option value="colina">Colina</option>
        </select>
      </ion-item>

      <ion-item>
        <ion-label>Cantidad Asientos:</ion-label>

        <select name="cant_asientos" id="cant_asientos" formControlName="cant_asientos">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>

      </ion-item>

      <ion-item>
        <ion-label><ion-input name="valor_asiento" id="valor_asiento" formControlName="valor_asiento">Valor Asiento:</ion-input></ion-label>
      </ion-item>

      <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; ">
      <ion-button color="primary" type="submit">Aceptar</ion-button> 
      <ion-button color="primary" [routerLink]="['/menuprincipalconductor']">Menú principal</ion-button>
    </div>
    </form>
  </ion-card-content>
  
  </ion-card>
  <br> 
  <br>

    <ion-item>
      <ion-button size="large" class="custom-button" [routerLink]="['/viajesiniciados']">Ver viajes creados</ion-button>
    </ion-item>

</ion-content>

<section style="display: flex; justify-content: center; align-items: center;">
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three-dot icon" [routerLink]="['/menuprincipalconductor']" style="margin-right: 20px;">
        <ion-icon name="home" color="primary"></ion-icon>
        <span class="button-text">Inicio</span>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/rutaconductor']" style="margin-right: 20px;">
        <ion-icon name="location" color="primary"></ion-icon>
        <span class="button-text">Viaje</span>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilconductor']" style="margin-right: 20px;">
        <ion-icon name="person" color="primary"></ion-icon>
        <span class="button-text">Perfil</span>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/registrarvehiculo']" style="margin-right: 20px;">
        <ion-icon name="car-sport" color="primary"></ion-icon>
        <span class="button-text">Auto</span>
      </button>
      <button mat-icon-button aria-label="Example icon button with an open in new tab icon" [routerLink]="['/paginalogin-usuario']" style="margin-right: 10px;">
        <ion-icon name="exit" color="primary"></ion-icon>
        <span class="button-text">Cierre</span>
      </button>
    </div>
  </div>
</section>