<ion-header>
  <ion-toolbar color="primary" style="text-align: center;">
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-text-center">
    <form [formGroup]="formularioActualizar" (ngSubmit)="actualizarUsuario()">
      
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input formControlName="nombre" type="text" value="{{ nombreU }}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Apellido:</ion-label>
        <ion-input formControlName="apellido" type="text" value="{{ apellidoU }}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-input formControlName="correo" type="email" value="{{ correoU }}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Fecha Nacimiento:</ion-label>
        <ion-input formControlName="fechanacimiento" type="date" value="{{ fechanacimientoU }}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Rut:</ion-label>
        <ion-input formControlName="rut" type="text" value="{{ rutU }}" noeditable></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Celular:</ion-label>
        <ion-input formControlName="celular" type="number" value="{{ celularU }}"></ion-input>
      </ion-item>

      <ion-button color="primary" [routerLink]="['/modificarcontrasena']">Modificar Contraseña</ion-button>
      <ion-button color="primary" type="submit">Guardar</ion-button>
    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipal']" style="margin-right: 20px;">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/comenzarviaje']" style="margin-right: 20px;">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilusuario']" style="margin-right: 20px;">
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/tomarviaje']" style="margin-right: 20px;">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']" style="margin-right: 10px;">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>


