<ion-header>
  <ion-toolbar color="primary" style="text-align: center;">
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-content class="ion-padding">
    <ion-item [routerLink]="['/menuprincipal']"><ion-icon name="home" color="primary"></ion-icon>Inicio</ion-item>
    <ion-item [routerLink]="['/miubicacion']"><ion-icon name="location" color="primary"></ion-icon>Donde estoy?</ion-item>
    <ion-item [routerLink]="['/tomarviaje']"><ion-icon name="walk" color="primary"></ion-icon>Tomar un viaje</ion-item>
    <ion-item [routerLink]="['/comenzarviaje']"><ion-icon name="car-sport" color="primary"></ion-icon>Comenzar viaje</ion-item>
    <ion-item [routerLink]="['/paginalogin-usuario']"><ion-icon name="exit" color="primary"></ion-icon>Cerrar sesion</ion-item>
  </ion-content>
</ion-menu>

<ion-content class="ion-padding">
  <ion-card class="ion-text-center">
    <form [formGroup]="formularioActualizar" (ngSubmit)="actualizarUsuario()">
      
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input formControlName="nombre" type="text" placeholder="Nombre">{{ nombreU }}</ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Apellido:</ion-label>
        <ion-input formControlName="apellido" type="text" placeholder="Apellido">{{ apellidoU }}</ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-input formControlName="correo" type="text" placeholder="Correo">{{ correoU }}</ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Fecha Nacimiento:</ion-label>
        <ion-input formControlName="fechanacimiento" type="date" placeholder="Fecha de Nacimiento">{{ fechanacimientoU }}</ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Rut:</ion-label>
        <ion-input formControlName="rut" type="text" placeholder="Rut">{{ rutU }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Celular:</ion-label>
        <ion-input formControlName="celular" type="text" placeholder="Celular">{{ celularU }}</ion-input>
      </ion-item>

      <ion-button color="primary" [routerLink]="['/perfilusuario']">Perfil Usuario</ion-button>
      <ion-button color="primary" (click)="actualizarUsuario()">Guardar</ion-button>
    </form>
  </ion-card>
</ion-content>