<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="text-align: center;">
    <ion-title>Modo Admin</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card style="margin-bottom: 80px;">
  
  <ion-item style="margin-left: 50px; margin-bottom: 100px;">
  <ion-button [routerLink]="['/paginaregistrar-usuario']" style="max-width: 70%; border-radius: 30px;" >
  <img src="../../../assets/icon/Admin Usuarios.png" alt="" style="border-radius: 100px;">
  </ion-button>
  </ion-item>

  <ion-item color="primary" style="margin-bottom: 60px;">
    <ion-label style="margin-left: 50px;">¡Tu destino nuestra misión!</ion-label>
  </ion-item>

  <ion-card style="margin-bottom: 50px;">
    <ion-item style="margin-left: 50px; margin-bottom: 100px;">
      <ion-button [routerLink]="['/sesionconductor']" style="max-width: 70%; border-radius: 30px;">
        <img src="../../../assets/icon/Admin Conductores.png" alt="" style="border-radius: 90px;">
      </ion-button>
    </ion-item>
  </ion-card>
</ion-card>
