<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header collapse="condense">
        <ion-card-title size="large">Ingrese Vehículo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioVehiculo">
        <ion-item>
          <ion-label position="floating" required>Marca:</ion-label>
          <ion-input formControlName="marca" type=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Modelo:</ion-label>
          <ion-input formControlName="modelo" type=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Año:</ion-label>
          <ion-input formControlName="annio" type=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" required>Patente:</ion-label>
          <ion-input formControlName="patente" type=""></ion-input>
        </ion-item>
        <ion-button type="submit">Registrar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipal']">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/comenzarviaje']">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/tomarviaje']">
          <ion-icon name="walk" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/comenzarviaje']">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>


