<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;" color="primary">
    <ion-title>Historial Conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
  <h2 class="ion-text-center" color="primary">Historial de Viajes Aceptados</h2>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let viaje of arregloViajes">
      <ion-card>
        <ion-card-content>
          <ion-item *ngFor="let usuario of arregloUsuario">
            <ion-label>
              <strong>Pasajero: {{ usuario.nombre }}</strong>
              <br>
              <p>Fecha del Viaje: {{ viaje.f_viaje }}</p>
              <p>Hora de Salida: {{ viaje.hora_salida }}</p>
              <p>Salida: {{ viaje.salida }}</p>
              <p>Destino: {{ viaje.destino }}</p>
              <p>Asientos Ocupados: {{ viaje.cant_asientos }}</p>
              <p>Valor Asiento: {{ viaje.valor_asiento }}</p>
              <p>Estado: {{ viaje.estado }}</p>
              <br>
              <h4>Vehiculo:</h4>
              <ion-item *ngFor="let vehiculo of arregloVehiculo">
                <p>Marca: {{ vehiculo.marca }}</p>

                <br>
                
                <p>Modelo: {{ vehiculo.modelo }}</p>
              </ion-item>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipalconductor']" style="margin-right: 20px;">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/rutaconductor']" style="margin-right: 20px;">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilconductor']" style="margin-right: 20px;">
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/registrarvehiculo']" style="margin-right: 20px;">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']" style="margin-right: 10px;">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>