<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Registro:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">

        <ion-item>
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido:</ion-label>
          <ion-input formControlName="apellido" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Rut:</ion-label>
          <ion-input formControlName="rut" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Edad:</ion-label>
          <ion-input formControlName="edad" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo:</ion-label>
          <ion-input formControlName="correo" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Celular:</ion-label>
          <ion-input formControlName="celular" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input formControlName="password" type="password" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar contraseña:</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>





<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registrar Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h2>Registro de Usuario</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>

        <ion-item>
          <ion-label position="floating">Ingrese nombre de Usuario</ion-label>
          <ion-input type="text" maxlength="25"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Ingrese su Contraseña</ion-label>
          <ion-input type="password" maxlength="30"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirme su Contraseña</ion-label>
          <ion-input type="password" maxlength="30"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ingrese su Correo</ion-label>
          <ion-input type="email" maxlength="30"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ingrese su Edad</ion-label>
          <ion-input type="number" min="1" max="3"></ion-input>
        </ion-item>

        <br>

        <ion-button >Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
-->
