<ion-content style="border: solid 1.5px #469597;">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title style="text-align: center;">¡Bienvenidos Usuarios!</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  <br> <br> <br>

    <ion-card color="primary" style="margin-left: 15px;">
      <ion-card-content>
        <ion-card-title style="text-align: center; font-size: xx-large;">Clima Parcial <ion-icon name="partly-sunny-sharp"></ion-icon> </ion-card-title>
        <ion-label style="display: flex; flex-direction: column; align-items: center; font-size: xx-large;">{{ clima?.data[0]?.coordinates[0]?.dates[0]?.value }}°C</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card style="margin-top: 20%;" color="primary">
      <ion-card>
        <ion-card-title color="primary" style="text-align: center;">Puntos de Partida</ion-card-title>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1302.0092590469305!2d-70.67890551376183!3d-33.36350127453191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses!2scl!4v1699745994646!5m2!1ses!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border-radius: 10px;"></iframe>
  
      </ion-card> 
    </ion-card>       
  </ion-content>


<ion-footer>
  <section style="display: flex; justify-content: center; align-items: center;">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [routerLink]="['/menuprincipal']" style="margin-right: 20px;">
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/tomarviaje']" style="margin-right: 20px;">
          <ion-icon name="location" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" [routerLink]="['/perfilusuario']" style="margin-right: 20px;">
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" [routerLink]="['/comenzarviaje']" style="margin-right: 20px;">
          <ion-icon name="car-sport" color="primary"></ion-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" [routerLink]="['/paginalogin-usuario']" style="margin-right: 10px;">
          <ion-icon name="exit" color="primary"></ion-icon>
        </button>
      </div>
    </div>
  </section>
</ion-footer>