<ion-content>
  <!-- ... -->
  <form [formGroup]="formularioPago">
    <ion-item>
      <ion-label position="floating">Número de Tarjeta</ion-label>
      <ion-input formControlName="cardnumber"></ion-input>
    </ion-item>
    <p *ngIf="formularioPago.get('cardnumber')?.errors?.['required']">Este campo es obligatorio</p>
    <p *ngIf="formularioPago.get('cardnumber')?.errors?.['minlength']">Debe ingresar una tarjeta válida</p>
    <p *ngIf="formularioPago.get('cardnumber')?.errors?.['maxlength']">Debe ingresar una tarjeta válida</p>

    <ion-item>
      <ion-label position="floating">Nombre en la Tarjeta</ion-label>
      <ion-input formControlName="cardname"></ion-input>
    </ion-item>
    <p *ngIf="formularioPago.get('cardname')?.errors?.['required']">Este campo es obligatorio</p>
    <p *ngIf="formularioPago.get('cardname')?.errors?.['minlength']">Debe ingresar un nombre válido</p>
    <p *ngIf="formularioPago.get('cardname')?.errors?.['maxlength']">Debe contener un máximo de 30 caracteres</p>
    <p *ngIf="formularioPago.get('cardname')?.errors?.['pattern']">No debe contener números ni caracteres especiales</p>

    <ion-item>
      <ion-label position="floating">CVV</ion-label>
      <ion-input formControlName="cvv"></ion-input>
    </ion-item>
    <p *ngIf="formularioPago.get('cvv')?.errors?.['required']">Este campo es obligatorio</p>
    <p *ngIf="formularioPago.get('cvv')?.errors?.['minlength']">Debe ingresar un CVV válido</p>
    <p *ngIf="formularioPago.get('cvv')?.errors?.['maxlength']">Debe ingresar un CVV válido</p>
    <p *ngIf="formularioPago.get('cvv')?.errors?.['min']">Debe ingresar un CVV válido</p>
    <p *ngIf="formularioPago.get('cvv')?.errors?.['max']">Debe ingresar un CVV válido</p>

    <ion-button expand="full">Pagar</ion-button>
  </form>
</ion-content>
